*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: lightblue;
    position: sticky;
    top: 0;
}

header h1{
    padding-left: 65px;
    padding-top: 25px;
    color: white;
    text-transform: uppercase;
}

header h3{
    padding-left: 70px;
    padding-bottom: 10px;
    color: white;
    text-transform: uppercase;
}

.nav1{
    float: right;
    padding-top: 35px;
    padding-right: 20px;
    letter-spacing: 2mm;
}

.nav1 a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

.nav1 :hover{
    transform: scale(1.5);
}

.cap1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: cursive;
}

.textocap1{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    text-indent: 1cm;
}

.textocap1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cap2{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: cursive;
}

.textocap2{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    text-indent: 1cm;
}

.textocap2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cap3{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: cursive;
}

.textocap3{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    text-indent: 1cm;
}

.textocap3 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.likedislike{
    display: flex;
    justify-content: center;
}

.likedislike a{
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    font-size: xx-large;
    color: black;
}

.likedislike :hover{
    transform: scale(1.25);
}

.signed{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.signed a{
    text-decoration: none;
    color: black;
    font-family: cursive;
    text-shadow: 2px 2px 2px skyblue;
}

.signed p{
    font-family: cursive;
    font-size: x-large;
    color: black;
}

footer{
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}